<html>
<head>
<title>TheLoversNote</title>
<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8”>
<script language="javascript"  type="text/javascript" src="../static/index.js">
</script>
</head>
<body>
	<form action="/code" method="post">
	<input  id="code" name="code" type="text" height="40"/><br/>
	encode:<input  id="type" name="type" type="radio" value="encode">decode:<input name="type" type="radio" value="decode"/><br/>
	<input value="提交" type="submit"/>
	</form>
    <button onClick="getCode()">显示</button><br/>
hello,word!

<div id="show"></div>
</body>
</html>